.box
	%h2.cufon1
		Edit Page: '
		=@page.title
		'
	-form_for([:admin, @page]) do |f|
		=render 'layouts/error_messages', :object => f.object
		%p.fields
			=f.label :title
			=f.text_field :title
		%p.fields
			=f.label :content
			=f.text_area :content, :class => "mceEditor"
		%p.actions
			=f.submit "Edit"