-form_tag '/advanced_search' do
	%p
		=label_tag "Name:"
		=text_field_tag 'advanced_search[name_contains]', params[:advanced_search][:name_contains]
	%p
		=label_tag "Summary:"
		=text_field_tag 'advanced_search[summary_contains]', params[:advanced_search][:summary_contains]
	%p
		=label_tag "Category:"
		=text_field_tag 'advanced_search[category_name_contains]', params[:advanced_search][:category_name_contains]
	
	%input{:id => "", :name => "", :src => "/images/btn_search.gif", :type => "image", :value => "Search"}/

%h2.cufon1
	Results

-unless @products.empty?
	-@products.each do |product|
		%h3.cufon1
			%a{:href => product_path(product)}
				=highlight(product.name, @search_term)
		%h4.cufon1
			=number_to_currency(product.price)
-else
	%h3.cufon1 No results found