.box
	%h2.cufon1
		Results
	
	-unless @products.empty?
		-@products.each do |product|
			%h3.cufon1
				%a{:href => product_path(product)}
					=highlight(product.name, @search_term)
			%h4.cufon1
				=number_to_currency(product.price)
	-else
		%h3.cufon1 No results found
	%a{:href => '/advanced_search'}
		Refine your search results by using the advance filters
/ /box