.box
	%h2.cufon1 My products
	%table.products
		%thead
			%tr
				%th Name
				%th Kind
			%tr
		%tbody
			-@purchases.each do |purchase|
				%tr
					%td.name= purchase.product.name
					%td= purchase.product.role
