.box
	%h2.cufon1 My products
	%table.products
		%thead
			%tr
				%th Name
				%th Type
				%th Purchased
			%tr
		%tbody
			-@products.each do |product|
				%tr
					%td.name
						=product.name
					%td
						=product.role
					%td
						=product.created_at
/ /box