.box
	%h2.cufon1 My cart
	%table.products
		%thead
			%tr
				%th Name
				%th Type
				%th Price
			%tr
		%tbody
			-@purchases.each do |purchase|
				%tr
					%td.name
						=purchase.product.name
					%td
						=purchase.product.role
					%td
						=number_to_currency(purchase.product.price)
/ /box
