#slider
	#slides
		.slide
			%img{:height => "370", :src => "images/banner/slide1.jpg", :width => "960"}/
			%ul.banner-button
				%li
					%a{:href => "#"}
						%img{:height => "37", :src => "images/banner/btn_learnmore.png", :width => "132"}/
				%li
					%a{:href => "#"}
						%img{:height => "37", :src => "images/banner/btn_signup.png", :width => "132"}/
		/ /slide
		.slide
			%img{:height => "370", :src => "images/banner/slide2.jpg", :width => "960"}/
			%ul.banner-button
				%li
					%a{:href => "#"}
						%img{:height => "37", :src => "images/banner/btn_learnmore.png", :width => "132"}/
				%li
					%a{:href => "#"}
						%img{:height => "37", :src => "images/banner/btn_signup.png", :width => "132"}/
		/ /slide
	/ /slides
/ /slider
.box
	%h2.cufon1 New Courses
	.col
		%h3
			%a{:href => "#"} Business planning and situational analysis
		%p.price $45.00
		%p
			Category:
			%a{:href => "#"} Administrative planning in small business
	/ /col
	.col
		%h3
			%a{:href => "#"} Business planning and situational analysis
		%p.price $45.00
		%p
			Category:
			%a{:href => "#"} Administrative planning in small business
	/ /col
	.col
		%h3
			%a{:href => "#"} Business planning and situational analysis
		%p.price $45.00
		%p
			Category:
			%a{:href => "#"} Administrative planning in small business
	/ /col
	.col
		%h3
			%a{:href => "#"} Business planning and situational analysis
		%p.price $45.00
		%p
			Category:
			%a{:href => "#"} Administrative planning in small business
	/ /col
	.clr
		/ 
/ /box
.box
	%h2.cufon1 Most Popular
	.col
		%h3
			%a{:href => "#"} Basis of accounting
		%p.price $45.00
		%p
			Category:
			%a{:href => "#"} Program accounting for non accountants
	/ /col
	.col
		%h3
			%a{:href => "#"} Analysis and interpretation of financial statements basic
		%p.price $45.00
		%p
			Category:
			%a{:href => "#"} Program accounting for non accountants
	/ /col
	.col
		%h3
			%a{:href => "#"} Fundamentals of marketing
		%p.price $45.00
		%p
			Category:
			%a{:href => "#"} Sales and marketing program in small business
	/ /col
	.col
		%h3
			%a{:href => "#"} Emotional intelligence
		%p.price $45.00
		%p
			Category:
			%a{:href => "#"} Emotional intelligence
	/ /col
	.clr
		/ 
/ /box