#slider
	#slides
		.slide
			%img{:height => "370", :src => "images/banner/slide1.jpg", :width => "960"}/
			%ul.banner-button
				%li
					%a{:href => "#"}
						%img{:height => "37", :src => "images/banner/btn_learnmore.png", :width => "132"}/
				%li
					%a{:href => "#"}
						%img{:height => "37", :src => "images/banner/btn_signup.png", :width => "132"}/
		/ /slide
		.slide
			%img{:height => "370", :src => "images/banner/slide2.jpg", :width => "960"}/
			%ul.banner-button
				%li
					%a{:href => "#"}
						%img{:height => "37", :src => "images/banner/btn_learnmore.png", :width => "132"}/
				%li
					%a{:href => "#"}
						%img{:height => "37", :src => "images/banner/btn_signup.png", :width => "132"}/
		/ /slide
	/ /slides
/ /slider
.box
	%h2.cufon1 New Courses
	-unless @recent_courses.empty?
		-@recent_courses.each do |course|
			.col
				%h3
					%a{:href=>"#"}
						=course.name
				%p.price
					=course.price
				%p
					Category:
					%a{:href => "#"}
						=course.category
			/ /col
	.clr
		/ 
/ /box
.box
	%h2.cufon1 Most Popular
	-unless @popular_courses.empty?
		-@popular_courses.each do |course|
			.col
				%h3
					%a{:href=>"#"}
						=course.name
				%p.price
					=course.price
				%p
					Category:
					%a{:href => "#"}
						=course.category
			/ /col
	.clr
		/ 
/ /box