#slider
	#slides
		-@slides.each do |slide|
			.slide
				%img{:height => "370", :src => slide.file.url, :width => "960"}/
				%ul.banner-button
					%li
						%a{:href => "#"}
							%img{:height => "37", :src => "images/banner/btn_learnmore.png", :width => "132"}/
					%li
						%a{:href => "#"}
							%img{:height => "37", :src => "images/banner/btn_signup.png", :width => "132"}/
			/ /slide
	/ /slides
/ /slider
.box
	%h2.cufon1 New Courses
	-unless @recent_courses.empty?
		-@recent_courses.each do |course|
			.col
				%h3
					%a{:href => product_path(course)}
						=course.name
				%p.price
					=number_to_currency(course.price)
				%p
					Category:
					%a{:href => category_path(course.category)}
						=course.category.name
			/ /col
	.clr
		/ 
/ /box
.box
	%h2.cufon1 Most Popular
	-unless @popular_courses.empty?
		-@popular_courses.each do |course|
			.col
				%h3
					%a{:href => product_path(course)}
						=course.name
				%p.price
					=number_to_currency(course.price)
				%p
					Category:
					%a{:href => category_path(course.category)}
						=course.category.name
			/ /col
	.clr
		/ 
/ /box