%li
	%a{:href => admin_root_path, :class => nav_class(admin_root_path)}
		%span Home
%li
	%a{:href => admin_pages_path, :class => nav_class(admin_pages_path)}
		%span Pages
%li
	%a{:href => admin_users_path, :class => nav_class(admin_users_path)}
		%span Users
%li
	%a{:href => admin_categories_path, :class => nav_class(admin_categories_path)}
		%span Categories
%li
	%a{:href => admin_products_path, :class => nav_class(admin_products_path)}
		%span Products