%li
	%a{:href => admin_root_path, :class => nav_class(root_path)}
		%span Home
-if current_user.admin?
	%li
		%a{:href => admin_slides_path, :class => nav_class(admin_slides_path)}
			%span
				Slides
				%img{:height => "6", :src => "/images/arrow_down.png", :width => "11"}/
		%ul
			%li
				%a{:href => new_admin_slide_path} Add slide
	%li
		%a{:href => admin_pages_path, :class => nav_class(admin_pages_path)}
			%span
				Pages
				%img{:height => "6", :src => "/images/arrow_down.png", :width => "11"}/
		%ul
			%li
				%a{:href => new_admin_page_path} Add page
	%li
		%a{:href => admin_users_path, :class => nav_class(admin_users_path)}
			%span
				Users
				%img{:height => "6", :src => "/images/arrow_down.png", :width => "11"}/
		%ul
			%li
				%a{:href => new_admin_user_path} Add user
	%li
		%a{:href => admin_categories_path, :class => nav_class(admin_categories_path)}
			%span
				Categories
				%img{:height => "6", :src => "/images/arrow_down.png", :width => "11"}/
		%ul
			%li
				%a{:href => new_admin_category_path} Add category
	%li
		%a{:href => admin_site_options_path, :class => nav_class(admin_site_options_path)}
			%span
				Site Options
				%img{:height => "6", :src => "/images/arrow_down.png", :width => "11"}/
		%ul
			%li
				%a{:href => new_admin_site_option_path} Add option
%li
	%a{:href => admin_products_path, :class => nav_class(admin_products_path)}
		%span
			Products
			%img{:height => "6", :src => "/images/arrow_down.png", :width => "11"}/
	%ul
		%li
			%a{:href => new_admin_product_path} Add product