.box
	%h2
		Admin
	
	%p
		%img{:src => "http://www.blogcdn.com/www.comicsalliance.com/media/2010/05/marvel-films-shield-logo.jpg"}
	
	%ul
		%li
			%a{:href => admin_pages_path} Pages
			%a{:href => admin_users_path} Users
			%a{:href => admin_categories_path} Categories
			%a{:href => admin_products_path} Products