.box
	%h2.cufon1
		Add Product:
	-form_for([:admin, @product], :html => {:multipart => true}) do |f|
		=render 'layouts/error_messages', :object => f.object
		%p.fields
			=f.label :name
			=f.text_field :name
		%p.fields
			=f.label :summary
			=f.text_area :summary
		%p.fields
			=f.label :price
			=f.text_field :price
			%p.fields
				=f.label :price, "Or mark it free"
				=f.text_field :free
		%p.fields
			=f.label :role
			=collection_select(:product, :role, Product::ROLES, :first, :last)
		%p.fields
			=f.label :category_id
			=collection_select(:product, :category_id, Category.all, :id, :name)
		%p.fields
			=f.file_field 'product_file[source]'
		%p.actions
			=f.submit "Add"