.box
	%h2.cufon1 Users
	%table.products
		%thead
			%tr
				%th Name
				%th Email
				%th Creation dat
				%th Last signed in
				%th Role
				%th{:colspan => 2} Actions
			%tr
		%tbody
			-@users.each do |user|
				%tr
					%td.name
						=user.first_name
						=user.last_name
					%td= user.email
					%td
						- if user.created_at
							=user.created_at.to_s(:short)
					%td
						- if user.last_sign_in_at
							=user.last_sign_in_at.to_s(:short)
					%td= user.role
					%td
						=link_to 'Edit', edit_admin_user_path(user)
						=link_to 'Destroy', [:admin,user], :method => :delete, :confirm => "You sure?"
