.box
	%h2
		Purchase
		=@product.role
		\:
		=@product.name
	=form_for(@purchase) do |f|
		%p
			=f.label :credit_card_number
			%br/
			=f.text_field :credit_card_number
		%p
			=f.label :expiration_date
			%br/
			=f.text_field :expiration_date
		%p
			=f.label :csc_code
			%br/
			=f.text_field :csc_code
		%p
			=f.hidden_field :product_id
		%p
			=f.submit "Purchase"
/ /box