.box
	%h2.cufon1
		=@product.name
	%h3.cufon1
		Price:
		=number_to_currency(@product.price)
	-if @product.file
		%a.button{:href => @product.file.url}
			Download
	%a.button{:href => product_purchase_path(@product)}
		Express checkout
	%a.button{:href => product_add_to_cart_path(@product)}
		Add to cart
/ /box